/* general rules */
h2{
    margin: 0;
}
ul{
    margin: 0;
}
.hero-sec,
.about-sec,
footer{
    color: white;
}
/* header section */
header{
    z-index: 3;
}
.header-sec{
    background-color:#2C3E50 ;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    color: white;
}
header ul li a{
    color: white;
}
/* main section */
main{
    margin-top: 50px;
}
/* hero section */
.secondary_color{
    background-color:#1ABC9C ;
}
.hero-sec img{
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    margin: 5px;
} 
.star_divider{
    width: 40%;
    margin: 20px auto;
}
.star_divider i{
    font-size: 40px;
    padding: 0 10px;
}
.left_bar,
.right_bar{
    flex-grow: 1;
    height: 5px;
    background-color: white;
}
.star_divider_secondary{
    color: #2C3E50;
    width: 40%;
    margin: 20px auto;
}
.smaller_formatting{
    width: 20%;
}
.star_divider_secondary i{    
    font-size: 40px;
    padding: 0 10px;
}
.star_divider_secondary .left_bar,
.star_divider_secondary .right_bar{
    background-color: #2C3E50;
}
.img_formatting{
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 12px;
}
/* portfolio section */
.album_container:hover .img_formatting:after {
    content: "\f067";
    font-size: 30px;
    font-weight: 900;
    color: white;
    font-family: "Font Awesome 5 Free";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1ABC9C;
    opacity: 0.6;
    z-index: 1;
}

/* about section */
.button_row{
    padding: 30px 0 0px;
}
.white_border{
    border: 1px solid white;
    color: white;
}
/* contacts section of the page */
.contact-border{
    border-bottom: 2px solid lightgrey;
}
.border_reset{
    border: 0;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
}
.form-control::placeholder {
    color: #2C3E50;
    font-size: 18px;
    font-weight: 700;
} 
button.secondary_color{
    color: white;
}
/* footer section */
.first-footer{
    background-color: #3A546D;
}
.secondary_color_font{
    color: #1ABC9C;
}
.second-footer{
    background-color:#2C3E50 ;
}
.icon_formatting{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
}
a.link_formatting{
    font-size: 20px;
    color:white
}
.copyright-sec{
    padding: 30px 0;
}