/* general rules */
h2{
    margin: 0;
}
ul{
    margin: 0;
}
.hero-sec,
.about-sec,
footer{
    color: white;
}
/* header section */
.header-sec{
    background-color:#2C3E50 ;
    width: 100%;
    top: 0;
    height: 50px;
    color: white;
}
header ul li a{
    color: white;
}
/* main section */
main{
    margin-top: 50px;
    width: 100%;
}
.secondary_color{
    background-color:#1ABC9C ;
}
.contact-border{
    border-bottom: 2px solid lightgrey;
}
button.secondary_color{
    color: white;
}
/* footer section */
.first-footer{
    background-color: #3A546D;
}
.second-footer{
    background-color:#2C3E50 ;
}